.row
  .span6
    .row
      = form_for @ballot do |f|
        = render "shared/form_errors", :object => @ballot
        %h2
          Where should we eat in 
          = f.select(:expire,[10,20,30,40,50,60])
          minutes?
        %h1
          Build your Ballot
        .row
          - 3.times do 
            %li.option-add
              %input{:name => "ballot[options_attributes][][name]",:autocomplete => :off}
              .option-add-btn
                .cross
          #reveal-options
            %a Add rows
          #more-options
            - 2.times do 
              %li.option-add
              %input{:name => "ballot[options_attributes][][name]",:autocomplete => :off}                
                .option-add-btn
                  .cross
                
        %ul#option-bars
        = f.submit 'Start Voting'

= javascript_include_tag :application  
= stylesheet_link_tag "new-ballot"
