.row
  .span6
    .row
      #countdown
      = form_for @vote,:remote => true,:html => {:id => 'vote-form'} do |f|
        = f.hidden_field :ballot_id, :value => @ballot.uuid
        -# = f.label :voter
        -# = f.text_field :voter
        %ul#option-bars
          - @ballot.options.each do |option|
            = Mustache.render(render("options/bar"),:option => option).html_safe
  .span8    
    #holder

-# = form_for @ballot, :remote => true,:html => {:id => 'ballot-form'} do |f|
-#   %input{:id => "ballot_options_attributes",:type => "hidden",:name => "ballot[options_attributes]"}

#option-template
  = render "options/bar"

%script{:type => "text/javascript", :src  => "http://localhost:3000/socket.io/socket.io.js"}
= javascript_include_tag :application,:timer,:raphael,:socket
