.poll-window
  .ballot-options
    = form_for @vote,:remote => true,:html => {:id => 'vote-form'} do |f|
      = f.hidden_field :ballot_id, :value => @ballot.uuid
      = f.label :voter
      = f.text_field :voter
      %ul#option-bars
        - @ballot.options.each do |option|
          = Mustache.render(render("options/bar"),:option => option,:option_klass => @ballot.option_klass).html_safe 
      = submit_tag 'Vote',:id => 'vote-submit'
  #holder.span

#detail

-# .search
-#   %h1
-#     Search
-#   = form_tag "#{@ballot.option_klass}/search",:remote => true,:method => :get,:id => 'search-form' do
-#     .geo_filter
-#       = hidden_field_tag :geo_filter, @ballot.geo_filter
-#     .search_filters
-#       - @ballot.search_filters.each do |sf| 
-#         = hidden_field_tag :search_filters, sf
-#     .selector.flowbox
-#       = search_field_tag :q
-#     .selector.search
-#       = submit_tag "Search",:id => 'search-submit'
   
-# .results
-#   %ul#searches

#option-template
  = render "options/bar"
#search-row-template
  = render "options/#{@ballot.option_klass_template}"

%script{:type => "text/javascript", :src  => "http://localhost:3000/socket.io/socket.io.js"}
= javascript_include_tag :application,:raphael,:socket  
