- if @menu
  .menu
    - @menu["menu_groups"]["menu_group"].each do |group|
      %h2.group_name
        = group["name"]
      %h3.group_description
        = group["menu_group_description"]
      - group["menu_items"]["menu_item"].each do |item|
        .menu_item
          .name
            = item["menu_item_name"]
          .description
            = item["menu_item_description"]
          .price
            = item["menu_item_price"]
  
