%h1
  Vote for lunch

= form_tag "/socket_test",:method => "post",:remote => true, :id => 'vote-form' do
  = hidden_field :meal, :id,:value => @meal.uuid
  = submit_tag 'Vote',:id => 'vote-submit'
  
#holder

#option-bars
  
#option-template{:type => "text/template"}
  .option{:id => "{{ id }}"}
    .name
      {{ name }}
    .votes
      {{ votes }}
    -# .details
    -# .rating
    .full_bar
      .bar{:style => "background: {{ fill }}; width: {{ width }};"}
-# .checkbox
-#   =check_box(:meal,:selected)
  
#votes

%h1
  Restaurant Search
.search
  = form_tag restaurants_search_path, :remote => true,:method => :get,:id => 'search-form' do
    .location
      = hidden_field_tag :latitude, @meal.location.latitude
      = hidden_field_tag :longitude, @meal.location.longitude
      -# %p.input
      -#   = text_field :meal,:location, :id => :location_autocomplete
      -# %a{:class => "change_location",:href => "#"} change          
    .selector.flowbox
      = text_field_tag :q
    .selector.search
      = submit_tag "Search",:id => 'search-submit'
.results
  #searches

= render :partial => "menu",:menu => @menu 
