%h1
  Vote for lunch

= form_tag "/socket_test",:method => "post",:remote => true, :id => 'vote-form' do
  = hidden_field :meal, :id,:value => @meal.uuid
  = submit_tag 'Vote',:id => 'vote-submit'
  
#holder

#option-bars
  
#option-template
  .option{:id => "{{ id }}"}
    .name
      {{ name }}
    .votes
      {{ voters }}
    .full_bar
      .bar{:style => "width: {{ fraction }}em;"}
  
#votes

%h1
  Restaurant Search
.search
  = form_tag restaurants_search_path, :remote => true,:method => :get,:id => 'search-form' do
    .location
      = hidden_field_tag :latitude, @meal.location.latitude
      = hidden_field_tag :longitude, @meal.location.longitude
      -# %p.input
      -#   = text_field :meal,:location, :id => :location_autocomplete
      -# %a{:class => "change_location",:href => "#"} change          
    .selector.flowbox
      = text_field_tag :q
    .selector.search
      = submit_tag "Search",:id => 'search-submit'
.results
  %ul#searches

#search-row-template
  %li.search_result{:id => "{{ factual_id }}"}
    .name
      {{ name }}
    .address
      {{ address}} {{address_extended}}
    .locality
      {{ locality }}, {{ region}}
    .coordinates
      .latitude
        {{ latitude }}
      .longitude
        {{ longitude }} 
    .telephone
      {{ tel }} 

= render :partial => "menu",:menu => @menu 
